@font-face {
  font-family: "RobotoSlab";
  src: url("../fonts/robotoslab.woff2") format("woff2"),
       url("../fonts/robotoslab.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway.woff2") format("woff2"),
       url("../fonts/raleway.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "RalewayBold";
  src: url("../fonts/ralewaybold.woff2") format("woff2"),
       url("../fonts/ralewaybold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
